@media only screen and (min-width: 320px) and (max-width: 767px) {
section{
	padding: 20px 0px;
}
	
.btn-orange{
	width: 100%;
}
	
.btn-blue{
	width: 100%;
}
	
.property-img{
	height: 200px;
}
	
.property-img img{
	height: 200px;
}
	
.items{
	padding: 10px 20px;
}
	
.scrolling-wrapper{
	height: 250px;		
}
	
.slider .delete-slider .fa-trash{
width: 45px;
height: 45px;
line-height: 45px;
}

.find-place-accommodation{
padding: 20px;
}
	
.about-profilepic-txt{
	line-height: normal;		
	padding-left: 40px;
	margin-top: 5px;
}
	
.property-slider .scrolling-wrapper{
		height: 250px;
}
.property-detail-left h1{
	font-size: 24px;
}
.property-detail-left .upgradeStatus{
padding: 6px;		
}	
	
.property-detail-left .upgrade span:last-child{
	display: block;
	padding-left: 0px;
	margin-top: 5px;
}
	
	.property-detail-left .room-months .room-txt, .property-detail-left .room-date .room-txt, .property-detail-left .room-rent .room-txt{
		font-size: 14px;
	}	
	
	.mb-5{
		margin-bottom: 32px !important;
	}
	
	.mt-5	{
		margin-top: 32px !important;
	}	
	
	.property-detail-left .property-msg-box{
		padding: 15px;
	}
	.property-detail-left .property-preferences{
		font-size: 14px;
	}
	
	#map{
		width: 100%;
		height: 300px !important;
	}
	
	.property-detail-left .preferred-locations{
		display: block;
	}
	
	.property-detail-left .property-rounded-btn{
		display: block;
	}
	
	.find_place_preview .potential-matches{
		padding: 0px;
	}
	
	.find_place_preview .listing-views{
		padding: 20px 0 0 0;
	}
	
	.find_place_preview .listing-views .bg-white{
		min-height: 300px;
	}
	
	.find_place_preview .listing-views-status{
		margin-top: 30px;
		margin-bottom: 30px;
	}
	
	.find_place_preview h2{
		font-size: 24px;
	}
	
	.your-property-listing-btn{
		margin-top: 15px;
	}
	
	.btn-transparent-edit{
		padding: 0px;
	}
	
	.footer_bg ul{
		padding-left: 0px;
	}
	
	.footer_bg .social-icons{
		padding-left: 0px;
	}
	
	.footer_bg .rea-groups{
		display: block;
	}
	
	.footer_bg .rea-groups .rea-groups-list{
		display: inline-block;
		margin-top: 15px;
	}
	
}


@media only screen and (min-width: 768px) and (max-width: 992px) {
	section{
	padding: 20px 0px;
}
	
	#map{
		width: 100%;
		height: 350px !important;
	}
	
	.property-detail-right .social-media-icon{
		padding: 0 150px;
	}	
	
	.find_place_preview .potential-matches{
		padding: 0px;
	}
	
	.find_place_preview .listing-views{
		padding: 20px 0 0 0;
	}	
	
	.find_place_preview .listing-views .bg-white{
		min-height: 400px;
	}	
	
	.btn-transparent-edit{
		padding: 0px;
	}
	
	.footer_bg ul{
		padding-left: 0px;
	}	
}
